.delay0 {
  animation-delay: 0ms;
}

.delay100 {
  animation-delay: 100ms;
}

.delay200 {
  animation-delay: 200ms;
}

.delay300 {
  animation-delay: 300ms;
}

.delay400 {
  animation-delay: 400ms;
}

.delay500 {
  animation-delay: 500ms;
}